// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'hover-perso';

@import 'color';

@import 'block';

.image_menu_cinema{
    background-image: url('/images/image_cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login{
    background-color: $base-color;

    &:hover{
        background-color: $color-hover;
        transition: 0.3s;
    }
}

body{
    background-color: $body-bg;
}

.menu-slide{
    a:hover{
        background-color: $gray-700;
        color: $gray-400;
    }

    .active{
        background-color: $gray-800;
        color: $gray-400;
    }
}

.dropdown-menu{
    .dropdown-item{
        cursor: pointer;
    }
}
