// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'dropdown-perso';

@import 'menu';

@import 'color';

@import 'block';

body{
    background-color: $body-bg;
}

.image_menu_cinema{
    background-image: url('/images/image_cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login{
    background-color: $base-color;

    &:hover{
        background-color: $color-hover;
        transition: 0.3s;
    }
}
