.dropdown-item {
    text-decoration: none;
    &:hover {
        background-color: $base-color;
    }

    &.active {
        background-color: $base-color!important;
        color: black;
    }

    a{
        text-decoration: none!important;
    }
}


.dropdown-menu{
    .dropdown-item{
        cursor: pointer;
    }
}
