.liste-page{
        a:hover{
            background-color: $gray-700;
            color: $gray-400;
        }
    
        .active{
            background-color: $gray-800!important;
            color: $gray-400!important;
        }
    
}